@inject NavigationManager navigationManager
<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code{

    protected override void OnInitialized()
    {
        navigationManager.NavigateTo("/login");
    }
}
