@page "/"
@inject AuthenticationState authState

@if (userInfo != null)
{
    <h1>Hello @userInfo.Username !!</h1>

    <p>Welcome to your new app.</p>

    <SurveyPrompt Title="How is Blazor working for you?" />
}
else
{
    <h1>Loading ...</h1>
}



@functions{
    UserInfo userInfo;

    protected override async Task OnInitAsync()
    {
        userInfo = await authState.GetUserInfo();
    }
}